.center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1450px) {
  .card-image {
    max-width: 100%;
    height: 10rem;
  }
}

@media screen and (max-width: 900px) {
  .card-image {
    max-width: 100%;
    height: 7rem;
  }
}

@media screen and (max-width: 576px) {
  .card-image {
    max-width: 100% !important;
    height: 15rem !important;
  }
}

@media screen and (min-width: 577px) {
  .card-image {
    max-width: 100%;
    height: 10rem ;
  }
}

@media screen and (max-width: 674px) {
  .card-image {
    max-width: 100%;
    height: 6rem;
  }
}

@media screen and (min-width: 1451px) {
  .card-image {
    max-width: 100%;
    height: 15rem;
  }
}

.card-style {
  margin: 0 auto;
}

.link-style:hover {
  text-decoration: none;
  color: black;
}

.link-style {
  text-decoration: none;
  color: black;
}

.truncate-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extra-column {
  padding: 2rem;
}